/* CONTAINER PRINCIPAL */
.container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* Permite que los elementos se acomoden mejor en pantallas pequeñas */
   margin: 20px auto;
   max-width: 1200px;
   padding: 0 20px;
}

/* CONTENIDO PRINCIPAL */
.mainContent {
   width: 65%;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: var(--white);
   border-radius: 8px;
   transition: box-shadow 0.3s ease-in-out;
}

.mainContent:hover {
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* SIDEBAR */
.sidebar {
   width: 30%;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
}

/* BOXES DENTRO DEL SIDEBAR */
.linksBox,
.tagsBox {
   background-color: var(--white);
   border: 1px solid var(--light-gray);
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.linksBox h3,
.tagsBox h3 {
   margin-top: 0;
   font-size: 1.2em;
   color: var(--primary-color);
}

.linksBox ul,
.tagsBox ul {
   list-style: none;
   padding: 0;
}

.linksBox li,
.tagsBox li {
   margin: 5px 0;
}

.linksBox a {
   text-decoration: none;
   color: var(--secondary-color);
}

.linksBox a:hover {
   text-decoration: underline;
}

/* HEADER DEL PROBLEMA */
.problemHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.problemTitle {
   margin: 0;
   font-size: 2em;
}

.subTopic {
   margin: 0;
   font-size: 1.2em;
   text-align: right;
   color: var(--secondary-color);
}

/* DETALLES DEL PROBLEMA */
.problemDetails h2 {
   margin: 5px 0;
   font-weight: normal;
   font-size: 1.5em;
}

/* CUADRO DEL PROBLEMA */
.problemBox {
   border: 1px solid var(--light-gray);
   padding: 20px;
   background-color: var(--light-blue);
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
   .container {
      flex-direction: column;
      align-items: center;
   }

   .mainContent {
      width: 90%;
   }

   .sidebar {
      width: 90%;
      margin-left: 0;
      margin-top: 20px;
   }
}

@media (max-width: 768px) {
   .problemTitle {
      font-size: 1.8em;
   }

   .subTopic {
      font-size: 1em;
   }

   .problemDetails h2 {
      font-size: 1.3em;
   }

   .problemBox {
      padding: 15px;
   }
}