@import "../../main.css";

.filterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterBox form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.filterBox input[type="text"] {
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
}

.filterBox input[type="text"]:focus {
    border-color: var(--primary-color);
}

.filterBox button {
    background: none;
    border: 1px solid var(--light-gray);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    font-size: 16px;
    width: 100%;
    max-width: 150px;
}

.filterBox button:hover {
    background: #f0f0f0;
    color: black;
}

.filterBox button:active {
    background: var(--primary-color);
    color: black;
}

.filterBox .categoryFilter {
    width: 100%;
    max-width: 300px;
}

.filterBox .categoryFilter select {
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
}

.filterBox .categoryFilter select:focus {
    border-color: var(--primary-color);
}