@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

:root {
    --primary-color: SlateBlue;
    --secondary-color: rgb(37.821, 75.798, 198.9);
    --hover-link: rgb(0, 123, 255);
    --light-gray: #ccc;
    --light-blue: #d8edffe1;
    --black: rgba(0, 0, 0, 0.1);
    --white: white;
    --background-white: #f8f8f8;
    --border-bottom: #ddd;
    --hover-background: #f1f1f1;
    

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Computer Modern', sans-serif;
}

.mathjax-container {
   font-weight: normal !important; /* Ensure normal font weight */
   font-family: 'Computer Modern', sans-serif !important; /* Match the font family */
   font-size: 1em !important; /* Match the font size */
   line-height: normal !important; /* Match the line height */
}

/* Override MathJax-specific styles */
mjx-container {
   font-weight: normal !important;
   font-family: 'Computer Modern', sans-serif !important;
   font-size: 1em !important;
   line-height: normal !important;
}

mjx-math, mjx-mi, mjx-mo, mjx-mn, mjx-mtext {
   font-weight: normal !important;
   font-family: 'Computer Modern', sans-serif !important;
}